@import './variables.scss';



.main-container{
    overflow-y:scroll;
    background-color:$mainBG;
    position: relative;
    scroll-behavior: smooth;
    scroll-snap-type: mandatory;
    scroll-snap-points-y: repeat(100vh);
    scroll-snap-type: y mandatory;


}


.main-contact_button{
    font-size:14pt;
    margin-top: 1em;
    animation-duration: 2s;
    position: relative;
    text-decoration: none;
    display: inline-block;
     animation-name: contactGlow;
     animation-iteration-count: infinite;
     animation-direction: alternate;
}
.main-contact_button:hover{
    animation-name: none;
}

@keyframes contactGlow {
    0%{
        color:white;
        text-shadow: 0 0 10px $blue,0 0 20px $blue,0 0 30px $blue;
        border-color: white;
        box-shadow: 0 0 10px $blue,0 0 15px $blue,0 0 15px $blue inset;
    }
    
    
    100%{
    color:$blue;
    text-shadow:none;
    border-color: $blue;
    box-shadow: none;
    }
    
}
.main-main{
    width:100%;
    height: 100vh;
    white-space: nowrap;
    box-shadow: 0 1px 20px black,0 1px 10px black;
    position: relative;
    overflow: hidden;
    user-select: none;
    box-sizing: border-box;
    scroll-snap-align: start;
}


@keyframes moreArrow {
    0%{
        bottom:10px
    }
    100%{
        bottom:30px
    }
    
}

.main-bg_gradient{
    position: absolute;
    left:0;
    top:0;
    width:100%;
    height: 100%;
   
    background-image: linear-gradient(to right, rgba(23,23,23,0.97),rgba(25,25,25,0.97),rgba(25,25,25,0.95),rgba(25,25,25,0.9));
    z-index: 2;
}
.main-bg{
    display: block;
    width: 1600px;
    
    position: absolute;
    top:-1000px;
    left:0%;
    z-index: 1;
}



.main-title_name{
    text-shadow: 0.06em 0.06em 0 $blue,0.05em 0.05em 30px $blue;
}
.main-title_name:hover{


    text-shadow: 0.06em 0.06em 0 $blue,0 0 30px $blue,0 0 40px $blue;
}

.main-text_zone{
padding-top: 8rem;
padding-left:5rem;
z-index: 3;
position: relative;

}

.main-main_title{
color:white;
font-family: "montserratbold", Arial, sans-serif;
letter-spacing: 0.1rem;
font-size:4rem;
display: block;
position: relative;


}
.main-sub_title{
    color:$gray;
    font-family: "montserratlight",Arial, sans-serif;

    letter-spacing: 0.05rem;
    font-size:1.2rem;
    display: block;
    position: relative;
  
    
 }
 .main-sub_title_element{
   padding-right:1em;
   
 }
 .main-sub_title_seperater{
    padding-right:1em;  
 }
 
 .main-container::-webkit-scrollbar {
     width: 12px;
     background-color: none;
 }
 
 //.main-container::-webkit-scrollbar-track {
     
  
// }
 
 .main-container::-webkit-scrollbar-thumb {
     border-radius: 10px;
     -webkit-box-shadow: inset 0 0 16px rgba(197, 197, 197, 0.5); 
 }
.main-scroll_indicater{
    position: absolute;
    bottom:50px;
    left:10px;
    z-index: 10;
}
.main_scroll_text{
    position: absolute;
    left:35px;
    color:$gray;
    font-size:10pt ;
    top:15px;
    animation: pulse 2s linear alternate infinite;
    user-select:none;
}
@keyframes pulse {
    0%{
        opacity:0.3;
    }
    100% {
      opacity: 0.9;
    }
  }
 .main-down_arrow{
    
    position: absolute;
    left:0;
    top:0;
    opacity: 0;
    transform: scale3d(0.5, 0.5, 0.5);
}
.main-down_arrow1{

    animation: move 6s ease-out 1s infinite;
}
.main-down_arrow2{
    animation: move 6s ease-out 3s infinite;
}
.main-down_arrow3{
    animation: move 6s ease-out 5s infinite;
}



@keyframes move {
    25% {
      opacity: 1;
  
    }
    33% {
      opacity: 1;
      transform: translateY(10px);
    }
    67% {
      opacity: 1;
      transform: translateY(18px);
    }
    100% {
      opacity: 0;
      transform: translateY(25px) scale3d(0.5, 0.5, 0.5);
    }
  }

  @media only screen and (max-width: 1000px) {
    .main-main_title{
        letter-spacing: 0.1rem;
        font-size:2rem;
        }

        .main-sub_title{
            font-size:1rem;
        }
        .main-container{
            overflow-y:scroll;
            background-color:$mainBG;
            position: relative;
            scroll-behavior: smooth;
            scroll-snap-type:none;
            scroll-snap-points-y: repeat(100vh);
          
        
        
        }
            

  }

  @media only screen and (min-width:930px) and (max-width:1099px){
    .main-bg{
        width: 1500px;
        top:-900px;
        left:-150px;
    }
  }

  @media only screen and (max-width:930px){
    .main-bg{
        width: 1700px;
        top:-1000px;
        left:-360px;
    }
  }


  @media only screen and (min-width:1600px) and (max-width:1900px){
    .main-bg{
        width: 2000px;
        top:-1200px;
        left:-200px;
    }
        .main-main_title{
        letter-spacing: 0.1rem;
        font-size:5rem;
        }

        .main-sub_title{
            font-size:2rem;
        }
  
  }

  @media only screen and (min-width:1901px){
    .main-bg{
        width: 2500px;
        top:-1500px;
        left:-200px;
    }
  }
