@import './variables.scss';
$navShadow:-10px 0px 10px rgb(23,23,23) inset;
.nav-main{
    background-color:$navBG;
    box-shadow: $navShadow;
    letter-spacing: 2px;
    color: $gray;
    display:flex;
    flex-direction: column;
}
.nav-logo{
    width:70%;
    margin-top:2em;
    margin-bottom: 1em;
    
}
.nav-logo-container{
display:flex;
flex-direction: row;
justify-content: center;
width:100%;
border-bottom: 1px solid rgb(165, 165, 165);
box-shadow:0px 0px 5px rgba(0,0,0,0.5),0px 10px 10px rgba(0,0,0,0.3),0px 10px 15px rgba(0,0,0,0.2);
}

.nav-menu{
padding-top:0em;
padding-left:0;
position: relative;
width:100%;
text-align: center;
margin: 0;

}
.nav-menu a{
    clear: both;
    float:left;
    width: 100%;
    color: $gray;
    text-decoration: none;
    padding: 1em 0;
    border-bottom: solid 1px gray;
    list-style-type: none;   
    display:block;
    
}
.nav-menu a:hover{
background-color: $gray-dark;
color:white;
box-shadow: $navShadow,0px -2px 2px rgba(69, 82, 201, 0.5) inset;
cursor: pointer;
text-shadow: 
0px 0px 2px white,
0px 0px 8px $blue,
0px 0px 5px $blue,
0px 0px 10px $blue,
0px 0px 15px $blue,
0px 0px 25px $blue,
0px 0px 30px $blue;


}

