@import "./styles/variables.scss";

@import "./support/Montserrat_web/stylesheet.css";


.app{
    font-family: "montserratmedium";
    height:100%;
    width:100%;
    margin:0;
    position: fixed;
    left:0;
    top:0;
    display:grid;
    grid-template-columns: $navWidth 1fr;
    grid-template-rows: 1fr;
    
}


.nav{
    grid-column: 1/2;

}
.main{
    grid-column: 2/3;
  
}

@media only screen and (max-width:1000px){
    .nav{
        display:none;
    }
    .app{

        grid-template-columns: 0px 1fr;
        grid-template-rows: 1fr;
        
    }
  }